.body-contacto {
  font-family: "Roboto", sans-serif;
  background-image: url(../img/ideas/portada-2xoren.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;

  main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
      color: orange;
    }

    .ultima {
      padding-bottom: 5rem;
      padding-top: 5rem;
      width: 20rem;
      display: flex;
      justify-content: space-around;
    }
  }
  #confirmacion {
    display: none;
    border: solid;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    color: orange;
    font-weight: bold;
    margin-top: 10px;
  }
}

label {
  color: white;
}

// formulario de contacto

@media screen and (max-width: 768px) {
  .section__contacto {
    margin-top: 10vh;
    display: flex;
    /* background-color: orange; */
    flex-direction: column;
  }

  .section__contacto div {
    overflow: auto;

    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 480px) {
  .section__contacto {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;

    div {
      overflow: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .ubicacion {
    width: 100vw;
    border-radius: 10px;
  }
}
