* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: "Roboto", sans-serif;

  .header__img--size {
    margin: 0;
    padding: 0;
    height: 50px;
    width: auto;
    margin-top: auto;
  }

  .img-redes {
    width: 35px;
    transition: transform 0.3s ease;
  }

  .nav__img--size {
    width: 200px;
  }

  .texto-nav {
    position: relative;
    color: black;
    overflow: hidden;
    transition: 0.5s ease;
  }

  .header__ul {
    padding-right: 80px;
  }
}

.texto-nav:hover {
  color: orange;
}
